@import "utils/vars";
@import "utils/reset";
@import "common/navbar";


body {
  background-color: #F7F7F7;
  font-weight: 400;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
}

.wrapper-content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  &.wrapper-content--fixed {
    margin-top: 80px;
  }
}


.container {
  width: 100%;
  max-width: 1470px;
  padding: 0 15px;
  margin: 0 auto;
}

