.card__item {
  width: 30%;
  text-align: center;
  box-shadow: 0 0 8px 0 #e0e0e0;
  padding: 10px 30px;
  background: #ffffff;
  margin: 20px 10px;

  &__info {
    flex-direction: column;
  }

  &__count {
    margin: 1rem 0;
    color: #d17581;
  }

  &__description {
    margin: 1rem 0 1.5rem 0;
  }

  & img {
    margin: 60px 0;
    width: 300px;
    cursor: pointer;
  }

  & .card__title {
    font-size: 1.5rem;
    color: #2a7754;
  }
}

.card__price__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add_to_cart {
  color: #ffffff;
  border: 1px solid #494ce8;
  background-color: #494ce8;

  display: inline-block;
  padding: 0.8em 2em;
  line-height: 1;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 30px;
}

