$primary-color: #000000;

// card

$card-height: 100px;
$card-width: 100px;


$desktopWidth            : 1280px;
$smDesktopWidth          : 980px;
$tableWidth              : 768px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;

